<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    
    <!--
        IMPORTANT: THESE TEMPLATES MAY ONLY BE USED WITH THE WRITTEN PERMISSION
        OF VISUAL COMMUNICATIONS (CC),
        HTTP://WWW.CD.ETHZ.CH
    -->
    
    <title>
       ETH - IhreEinheit - Layout
    </title>
    
      
    
    
    <!-- copyright, author, e-mail address -->
    
      <meta name="copyright" content="ETH Zuerich" />
      <meta name="author" content="YourName" />
      <meta name="Description" content="ETH Zuerich" />
      <meta name="Keywords" content="ETH Zuerich" />
      <meta name="version"
            content="Zope 2.8.12-final /Silva 1.5.13 /SilvaExtETHLayout 0.9.35" />
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    
    <!-- supervision header -->
    <meta name="Systemueberwachung" content="ETHZ" />
    <!-- charset, home, base -->
    <link href="http://www.ethz.ch/" rel="home" />
    <link rel="SHORTCUT ICON"
          href="../../icons_site/kuppel_icon_c040.ico" />
    
    <base href="" />
    <!-- style sheet -->
    
        <link rel="stylesheet"
              href="../../css/colors_c040.css"
              type="text/css" />
        <link rel="stylesheet"
              href="../../css/ns4.css"
              type="text/css" />
        <style type="text/css">
            <!--
            @import url("../../css/modernbrowsers.css");
            @import url("../../css/colors_c040.css");
            @import url("../../css/silva.css");
            @import url("../../css/customstyles.css");
            -->
            </style>
        <link rel="stylesheet" media="print"
              href="../../css/print.css"
              type="text/css" />
        <style type="text/css">
               .logo-bg, .logo-bg-alt { background-image: url(http://www.qcrypt2011.ethz.ch/aaa_template/layout/images/head_bg_logo_home_c040.jpg); background-repeat: no-repeat; }
               .identity-image { background-image: url(http://www.qcrypt2011.ethz.ch/aaa_template/layout/images/head_bg_home_c040.jpg); background-repeat: repeat; }
               .mainnav, .screenhead, .color5-back, .color4-back, .color3-back, .color2-back, .color1-back,  .servicenav, .transparent {background-image: url(../../icons_site/transparent.gif); }</style>
        
          <style type="text/css">div.navblock, .margins div.contentblock-1col { margin-bottom:0px; }</style>
        
        
        <!-- extra stylesheet for ie7 -->
        <!--[if lte IE 6]>
        <link rel='stylesheet' href='http://www.qcrypt2011.ethz.ch/css//ie6.css' type='text/css' />
        <![endif]-->
        <!--[if IE 7]>
        <link rel='stylesheet' href='http://www.qcrypt2011.ethz.ch/css//ie7.css' type='text/css' />
        <![endif]-->
        
    
    <!-- keywords, description -->
    
    <!-- script slot -->
    
      
        <script src="../scripts/scripts_de.js"
                type="text/JavaScript"></script>
      
      
      
      
      <script src="../scripts/jquery-1.6.4.min.js"
              type="text/JavaScript"></script>
      <script src="../scripts/scripts.js"
              type="text/JavaScript"></script>
      
      <script type="text/javascript" language="JavaScript">
      <!--
        // opens a windows to change the color scheme
        function openCenteredWindow(url, height, width, name, parms) {
          var left = Math.floor( (screen.width - width) / 2);
          var top = Math.floor( (screen.height - height) / 2);
          var winParms = "top=" + top + ",left=" + left + ",height=" + height + ",width=" + width;
          if (parms) { winParms += "," + parms; }
            var win = window.open(url, name, winParms);
          if (parseInt(navigator.appVersion) >= 4) { win.window.focus(); }
            return win;
        }
        function openColorWindow() {
          newwin = openCenteredWindow("colors.html",520,120,"ColorScheme","resizable=yes")}
      //-->
      </script>
    
  </head>
  <body bgcolor="#FFFFFF" onload="setup()"
        class="bg_logo_home">
  <div class="margins" id="bodymargins" style="width:auto;">
    <a id="top" name="top"></a>
    <!-- START header table -->
    <div id="printhead">
      
        <img alt="printlogo"
             src="../../icons_site/ethlogo-print.png"
             width="220" height="57" />
      
      
    </div>
    <table id="screenhead" width="100%" border="0" cellpadding="0" cellspacing="0">
      <tr>
      <!-- ETH / UNI logo -->
        
            
              <td width="220" valign="top" class="logo-bg"><a href="http://www.ethz.ch/" title="ETH Zuerich - Startseite"><img border="0" src="../../icons_site/transparent.gif" alt="http://www.ethz.ch/" width="220" height="105"/></a></td>
            
            
        
        
        <!-- START picture and navigation -->
        <td width="100%" valign="top" class="identity-image">
          <table width="100%" border="0" cellpadding="0"
                 cellspacing="0">
          <!-- head picture and language -->
            <tr>
              <td colspan="2" width="100%" height="54" valign="bottom">
                
                <div class="sitename" id="sitename"><a href="../index.html"><img alt="Herzlich Willkommen" title="Herzlich Willkommen" src="http://www.qcrypt2011.ethz.ch/images/head_sitename_c040.jpg" height="54" width="255" border="0" name="sitename" /></a></div>
              </td>
              <td class="transparent">&nbsp;</td>
            </tr>
            <!-- START navigation 1. row and service-navigation -->
            <tr>
              <td width="100%" height="17" valign="middle"
                  class="color4-back">
                
                  <div class="mainnav">
   <a class="mainnav-off" href="http://www.qcrypt2011.ethz.ch/aaa_template/news/index">Aktuell</a> | <a class="mainnav-off" href="http://www.qcrypt2011.ethz.ch/aaa_template/about/index">Über uns</a> | <a class="mainnav-off" href="http://www.qcrypt2011.ethz.ch/aaa_template/people/index">Personen</a>
</div>
                
              </td>
              <td rowspan="3" width="220" height="100%" class="color1-back">
                <!-- START service-navigation and search -->
                <table width="220" border="0" cellpadding="0" cellspacing="0">
                  <tr>
                    <td height="18" valign="middle">
                      
                        <div class="servicenav">
						  <a class="servicenav-off" href="../contact/index%3Fpage_url=http:%252F%252Fwww.qcrypt2011.ethz.ch%252Faaa_template%252Flayout%252Ftable.html">Kontakt</a>&nbsp;|
						  <a class="servicenav-off" href="../sitemap/index.html">&Uuml;bersicht</a>&nbsp;<a class="servicenav-off" href="JavaScript:openColorWindow()">|</a>
						  <a class="servicenav-off" href="../help/index.html">Hilfe</a>
                        </div>
                      
                      
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <!-- START search form -->
                      
      <form name="search" id="searchform" action="http://www.qcrypt2011.ethz.ch/aaa_template/cse_results/index_DE" method="GET" accept-charset="UTF-8">
          <table border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td valign="middle">
                <input id="qs" class="searchfield" type="text" name="qs" value="Suche" onblur="if(this.value=='')this.value='Suche';" onfocus="if(this.value=='Suche')this.value='';"/>
                  <input type="hidden" name="ie" value="utf8" />
                  <input type="hidden" name="oe" value="utf8" /><input type="hidden" name="q" value="site:www.IhreEinheit.ethz.ch" id="search_intranet" />
              </td>
              <td valign="middle" width="18" align="right" class="searchtd">
                <input class="searchbutton" type="image" name="GO" src="../../icons_site/lens_c040.gif"/>
              </td>
            </tr>
          </table>
        </form><script type="text/javascript" charset="utf-8">
(function($) {
$(document).ready(function() {
    $('#searchform').submit(function() {
        if ($('#search_intranet').length > 0) {
            var q_intranet = $('#search_intranet').val() + " " + $('#qs').val();
            $('#search_intranet').val(q_intranet);
        } else {
            $('#qs').attr('name','q');
        }
        //return false;
    });
});
})(jwcd.jQuery);
</script>
    
                      <!-- END search form -->
                    </td>
                  </tr>
                </table>
                <!-- END service-navigation and search -->
              </td>
              <td width="50" height="100%" rowspan="3" class="transparent"><img
    alt=""
    src="../../icons_site/transparent.gif"
    width="50" height="10" /></td>
            </tr>
            <!-- END navigation 1. row and service-navigation -->
            <!-- START navigation 2. row -->
            <tr>
              <td width="100%" height="17" valign="middle"
                  class="color3-back">
                
                  <div class="mainnav">
   <a class="mainnav-off" href="http://www.qcrypt2011.ethz.ch/aaa_template/research/index">Forschung</a> | <a class="mainnav-off" href="http://www.qcrypt2011.ethz.ch/aaa_template/education/index">Lehre</a> | <a class="mainnav-off" href="http://www.qcrypt2011.ethz.ch/aaa_template/services/index">Dienstleistungen</a> | <a class="mainnav-off" href="http://www.qcrypt2011.ethz.ch/aaa_template/docs/index">Dokumente</a> | <a class="mainnav-off" href="http://www.qcrypt2011.ethz.ch/aaa_template/faq/index">FAQ</a>
</div>
                
              </td>
            </tr>
            <!-- END navigation 2. row -->
            <!-- START navigation 3. row -->
            <tr>
              <td width="100%" height="17" valign="middle"
                  class="color2-back">
                
                  <div class="mainnav">
   <a class="mainnav-off" href="http://www.qcrypt2011.ethz.ch/aaa_template/infrastructure/index">Infrastruktur</a> | <a class="mainnav-off" href="http://www.qcrypt2011.ethz.ch/aaa_template/partnership/index">Partner</a> | <a class="mainnav-off" href="http://www.qcrypt2011.ethz.ch/aaa_template/intranet/index">Intranet</a>
</div>
                
              </td>
            </tr>
            <!-- END navigation 3. row -->
          </table>
          <!-- END picture and navigation -->
        </td>
      </tr>
    </table>
    <!-- END header table -->
    <!-- ############################################################################ -->

    <!-- START content -->
    <!-- START path -->
    

    
    
      
        
<!-- START content divs -->
<!-- START path -->
<div id="path-service">
  <!-- START servicenav2 -->
  
    <div id="pageicons">
      <div class="servicenav2" id="servicenav2">
        <a href="javascript:printpage();" class="icon-print" onfocus="if(this.blur)this.blur();" onmouseover="changeText(1);" onmouseout="changeText(0);">
           <img src="../../icons_site/icon_print.gif"
                border="0" alt="print" />
        </a><form method="post" class="icon-mail"
                  action="http://www.qcrypt2011.ethz.ch/aaa_template/layout/table/mail_this_page">
          
          <input type="hidden" name="page_url"
                 value="http://www.qcrypt2011.ethz.ch/aaa_template/layout/table" />
          <input type="hidden" name="language_current"
                 value="DE" />
          <input type="hidden" name="language_default"
                 value="DE" />
          <input type="image"
                 src="../../icons_site/icon_email.gif"
                 title="e-mail" alt="e-mail"
                 onmouseover="changeText(2);"
                 onmouseout="changeText(0);"
                 style="border:none;padding:0" />
        </form><form action="http://www.qcrypt2011.ethz.ch/aaa_template/layout/table/pdf"
                     method="post" class="icon-pdf">
          
          <input type="image"
                 src="../../icons_site/icon_pdf.gif"
                 title="pdf" alt="pdf"
                 onmouseover="changeText(3);"
                 onmouseout="changeText(0);"
                 style="border:none;padding:0" />
        </form>
        <span id="pageicons-text" style="visibility: visible;">&nbsp;&nbsp;</span>
    </div>
  </div>
  <div class="pathline">
    <a class="path" href="http://www.ethz.ch/">ETH Z&uuml;rich</a>
	<!--
    <span metal:use-macro="python:path(helpers.get_content_path(here, 'siteroot_path'))">
      Siteroot Path
    </span>
	-->
    
  - <a class="path" href="../../aaa_template.1.html">IhreEinheit</a>&nbsp;- <a class="path" href="../layout.1.html">Layout</a>&nbsp;- <a class="path" href="table.html">Tabellen</a>&nbsp;
  


  </div>
  <div style="clear:both;"></div>
  <!-- END servicenav2 -->
  
</div>
<!-- END Path -->
<!-- START content area -->
<!-- no nav, textblock full, no 3rd col -->

<!-- nav, textblock full, no 3rd col -->

<!-- nav, textblock full, 3rd col -->

  
  

<!-- START subnavigation 1. coloumn -->

  <div class="navblock">
    <div class="subnav">
        
  <div class="subnav-lev1"><a class="subnav-off" href="http://www.qcrypt2011.ethz.ch/aaa_template/layout/index">Layout</a></div>
  


        
  <div class="subnav-lev2"><a title="Images float right" class="subnav-off"  href="images_fl.html">Images float right</a></div>
<div class="subnav-lev2"><a title="Bilder anordnen" class="subnav-off"  href="images.html">Bilder anordnen</a></div>
<div class="subnav-lev2"><a title="Images grosse Version" class="subnav-off"  href="images_big.html">Images grosse Version</a></div>
<div class="subnav-lev2"><a title="Annotation" class="subnav-off"  href="annotation.html">Annotation</a></div>
<div class="subnav-lev2"><a title="Tabellen" class="subnav-on"  href="table.html">Tabellen</a></div>
<div class="subnav-lev2"><a title="Tabelle über 2 Spalten" class="subnav-off"  href="table02.html">Tabelle über 2 Spalten</a></div>

  


    </div>
  </div>

<div class="clearright"></div>
<!-- END subnavigation 1. coloumn -->
<!-- START content 2./3. coloumn -->
<div class="contentblock-3col" style="width:auto;"
     id="contentblock-3col">
  <div id="languages">
    
  </div>
  <!-- START main heading -->
  
  <h2>Tabellen</h2>
  

  <!-- END main heading -->
  <!-- START text box floating right -->
  <!-- show column depending on layout switch -->
  
    
          
            
  
                        	
    
    	
	      <div class="box-border">
	        <div class="box">
	          <p class="boxtitle">Tipps für die Praxis:</p>
	          

<p class="p">Auf diesen Seiten, finden Sitemanager, Editoren und Autoren Informationen zur Einrichtung und zum Unterhalt dieser Website. <a href="http://www.cd.ethz.ch/webcd/praxis" target="target">»»</a></p>


                          

<p class="p"></p>


                          





<h6 class="minor">Zu dieser Box:</h6>


<p class="p">Auf der obersten Ordnerstruktur finden Sie einen Ordner namens 'box_feeder', dort ist die Seite mit diesen Informationen abgelegt. Sie können den Inhalt editieren oder ihn löschen.</p>


                          

<p class="p"></p>


                          


	           
	        </div>
	      </div>
    	
    
 
  

          
    
  
  <!--    END text box -->
  <!-- START section main content -->
      
  


<h4 class="heading">Dezentrale IT-Organisationen der Departemente und Institute</h4>




<div class="tablemargin">
<table class="silvatable silvatable silvatable datagrid" width="100%" cellspacing="0" cellpadding="3">
<col width="33%" class="align-left" />
<col width="33%" class="align-left" />
<col width="33%" class="align-left" />
<tbody>
<tr class="odd">
<td class="align-left">
   <strong>Departement</strong> 
</td>
<td class="align-left">
   <strong>AGRL</strong> 
</td>
<td class="align-left">
  &nbsp;
</td>
</tr>
<tr class="even">
<td class="align-left">
  
  
  Departementsdelegierter (DID)


</td>
<td class="align-left">
  
  
  Erich Windhab


</td>
<td class="align-left">
   <a href="mailto:erich.windhab@ilw.agrl.ethz.ch">erich.windhab@ilw.agrl.ethz.ch</a> 
</td>
</tr>
<tr class="odd">
<td class="align-left">
  
  
  Informatik Support Leiter (ISL)


</td>
<td class="align-left">
  
  
  Philippe Blaise


</td>
<td class="align-left">
   <a href="mailto:philippe.blaise@agrl.ethz.ch">philippe.blaise@agrl.ethz.ch</a> 
</td>
</tr>
<tr class="even">
<td class="align-left">
  
  
  Stellvertreter


</td>
<td class="align-left">
  
  
  Jean-Claude Eischen


</td>
<td class="align-left">
   <a href="mailto:jean-claude.eischen@agrl.ethz.ch">jean-claude.eischen@agrl.ethz.ch</a> 
</td>
</tr>
<tr class="odd">
<td class="align-left">
  
  
  Weitere Kontakte


</td>
<td class="align-left">
  &nbsp;
</td>
<td class="align-left">
   <a href="mailto:isg@agrl.ethz.ch">isg@agrl.ethz.ch</a> 
</td>
</tr>
</tbody>
</table>
</div>
<div class="tablemargin">
<table class="silvatable silvatable silvatable datagrid" width="100%" cellspacing="0" cellpadding="3">
<col width="33%" class="align-left" />
<col width="33%" class="align-left" />
<col width="33%" class="align-left" />
<tbody>
<tr class="odd">
<td class="align-left">
   <strong>Departement</strong> 
</td>
<td class="align-left">
   <strong>ARCH</strong> 
</td>
<td class="align-left">
  &nbsp;
</td>
</tr>
<tr class="even">
<td class="align-left">
  
  
  Departementsdelegierter (DID)


</td>
<td class="align-left">
  
  
  Prof. Ludger Hovestadt


</td>
<td class="align-left">
   <a href="mailto:hovestadt@arch.ethz.ch">hovestadt@arch.ethz.ch</a> 
</td>
</tr>
<tr class="odd">
<td class="align-left">
  
  
  Informatik Support Leiter (ISL)


</td>
<td class="align-left">
  
  
  Serge Bilgeri


</td>
<td class="align-left">
   <a href="mailto:bilgeri@arch.ethz.ch">bilgeri@arch.ethz.ch</a> 
</td>
</tr>
<tr class="even">
<td class="align-left">
  
  
  Stellvertreter


</td>
<td class="align-left">
  
  
  Thomas Gemperli


</td>
<td class="align-left">
   <a href="mailto:gemperli@arch.ethz.ch">gemperli@arch.ethz.ch</a> 
</td>
</tr>
<tr class="odd">
<td class="align-left">
  
  
  Weitere Kontakte


</td>
<td class="align-left">
   <a href="http://www.arch.ethz.ch/IK/html/listeIB.html" target="blank">Koordinatoren innerhalb des Departements</a> 
</td>
<td class="align-left">
  &nbsp;
</td>
</tr>
</tbody>
</table>
</div>
<div class="tablemargin">
<table class="silvatable silvatable silvatable datagrid" width="100%" cellspacing="0" cellpadding="3">
<col width="33%" class="align-left" />
<col width="33%" class="align-left" />
<col width="33%" class="align-left" />
<tbody>
<tr class="odd">
<td class="align-left">
   <strong>Departement</strong> 
</td>
<td class="align-left">
   <strong>BAUG</strong> 
</td>
<td class="align-left">
  &nbsp;
</td>
</tr>
<tr class="even">
<td class="align-left">
  
  
  Departementsdelegierter (DID)


</td>
<td class="align-left">
  
  
  Hilmar Ingensand


</td>
<td class="align-left">
   <a href="mailto:ingensand@geod.baug.ethz.ch">ingensand@geod.baug.ethz.ch</a> 
</td>
</tr>
<tr class="odd">
<td class="align-left">
  
  
  Informatik Support Leiter (ISL)


</td>
<td class="align-left">
  
  
  Xaver Studerus


</td>
<td class="align-left">
   <a href="mailto:studerus@baug.ethz.ch">studerus@baug.ethz.ch</a> 
</td>
</tr>
<tr class="even">
<td class="align-left">
  
  
  Stellvertreter


</td>
<td class="align-left">
  &nbsp;
</td>
<td class="align-left">
  &nbsp;
</td>
</tr>
<tr class="odd">
<td class="align-left">
  
  
  Weitere Kontakte


</td>
<td class="align-left">
   <a href="http://www.baug.ethz.ch/people/stab/ik" target="blank">Koordinatoren innerhalb des Departements</a> 
</td>
<td class="align-left">
  &nbsp;
</td>
</tr>
</tbody>
</table>
</div>
<div class="tablemargin">
<table class="silvatable silvatable silvatable datagrid" width="100%" cellspacing="0" cellpadding="3">
<col width="33%" class="align-left" />
<col width="33%" class="align-left" />
<col width="33%" class="align-left" />
<tbody>
<tr class="odd">
<td class="align-left">
   <strong>Departement</strong> 
</td>
<td class="align-left">
   <strong>BEPR</strong> 
</td>
<td class="align-left">
  &nbsp;
</td>
</tr>
<tr class="even">
<td class="align-left">
  
  
  Departementsdelegierter (DID)


</td>
<td class="align-left">
  
  
  Gudela Grote


</td>
<td class="align-left">
   <a href="mailto:grote@ifap.bepr.ethz.ch">grote@ifap.bepr.ethz.ch</a> 
</td>
</tr>
<tr class="odd">
<td class="align-left">
  
  
  Informatik Support Leiter (ISL)


</td>
<td class="align-left">
  
  
  Margreth Stammbach


</td>
<td class="align-left">
   <a href="mailto:stammbach@bwi.bepr.ethz.ch">stammbach@bwi.bepr.ethz.ch</a> 
</td>
</tr>
<tr class="even">
<td class="align-left">
  
  
  Stellvertreter


</td>
<td class="align-left">
  &nbsp;
</td>
<td class="align-left">
  &nbsp;
</td>
</tr>
<tr class="odd">
<td class="align-left">
  
  
  Weitere Kontakte


</td>
<td class="align-left">
   <a href="http://www.bepr.ethz.ch/intranet/IK" target="_blank">Koordinatoren innerhalb des Departements</a> 
</td>
<td class="align-left">
  &nbsp;
</td>
</tr>
</tbody>
</table>
</div>
<div class="tablemargin">
<table class="silvatable silvatable silvatable datagrid" width="100%" cellspacing="0" cellpadding="3">
<col width="33%" class="align-left" />
<col width="33%" class="align-left" />
<col width="33%" class="align-left" />
<tbody>
<tr class="odd">
<td class="align-left">
   <strong>Departement</strong> 
</td>
<td class="align-left">
   <strong>BIOL</strong> 
</td>
<td class="align-left">
  &nbsp;
</td>
</tr>
<tr class="even">
<td class="align-left">
  
  
  Departementsdelegierter (DID)


</td>
<td class="align-left">
  
  
  Timothy Richmond


</td>
<td class="align-left">
   <a href="mailto:timothy.richmond@mol.biol.ethz.ch">timothy.richmond@mol.biol.ethz.ch</a> 
</td>
</tr>
<tr class="odd">
<td class="align-left">
  
  
  Informatik Support Leiter (ISL)


</td>
<td class="align-left">
  
  
  Ruedi Baumann


</td>
<td class="align-left">
   <a href="mailto:ruba@mol.biol.ethz.ch">ruba@mol.biol.ethz.ch</a> 
</td>
</tr>
<tr class="even">
<td class="align-left">
  
  
  Stellvertreter


</td>
<td class="align-left">
  
  
  Rolf Moser


</td>
<td class="align-left">
  
  
  rolf.moser@bc.biol.ethz.ch


</td>
</tr>
<tr class="odd">
<td class="align-left">
  
  
  Weitere Kontakte


</td>
<td class="align-left">
   <a href="http://www.biol.ethz.ch/dienstleistungen/it_support/Koordinatoren">Koordinatoren innerhalb des Departements</a> 
</td>
<td class="align-left">
  &nbsp;
</td>
</tr>
</tbody>
</table>
</div>
<div class="tablemargin">
<table class="silvatable silvatable silvatable datagrid" width="100%" cellspacing="0" cellpadding="3">
<col width="33%" class="align-left" />
<col width="33%" class="align-left" />
<col width="33%" class="align-left" />
<tbody>
<tr class="odd">
<td class="align-left">
   <strong>Departement</strong> 
</td>
<td class="align-left">
   <strong>CHAB</strong> 
</td>
<td class="align-left">
  &nbsp;
</td>
</tr>
<tr class="even">
<td class="align-left">
  
  
  Departementsdelegierter (DID)


</td>
<td class="align-left">
  
  
  Wilfred van Gunsteren


</td>
<td class="align-left">
   <a href="mailto:wilfred.vangunsteren@igc.phys.chem.ethz.ch">wilfred.vangunsteren@igc.phys.chem.ethz.ch</a> 
</td>
</tr>
<tr class="odd">
<td class="align-left">
  
  
  Informatik Support Leiter (ISL)


</td>
<td class="align-left">
  
  
  Markus Traber


</td>
<td class="align-left">
   <a href="mailto:markus.traber@phys.chem.ethz.ch">markus.traber@phys.chem.ethz.ch</a> 
</td>
</tr>
<tr class="even">
<td class="align-left">
  
  
  Stellvertreter


</td>
<td class="align-left">
  &nbsp;
</td>
<td class="align-left">
  &nbsp;
</td>
</tr>
<tr class="odd">
<td class="align-left">
  
  
  Weitere Kontakte


</td>
<td class="align-left">
   <a href="http://www.chab.ethz.ch/dienstleistungen/it/koordinatoren/" target="blank">Koordinatoren innerhalb des Departements</a> 
</td>
<td class="align-left">
  &nbsp;
</td>
</tr>
</tbody>
</table>
</div>
<div class="tablemargin">
<table class="silvatable silvatable silvatable datagrid" width="100%" cellspacing="0" cellpadding="3">
<col width="33%" class="align-left" />
<col width="33%" class="align-left" />
<col width="33%" class="align-left" />
<tbody>
<tr class="odd">
<td class="align-left">
   <strong>Departement</strong> 
</td>
<td class="align-left">
   <strong>ERDW</strong> 
</td>
<td class="align-left">
  &nbsp;
</td>
</tr>
<tr class="even">
<td class="align-left">
  
  
  Departementsdelegierter (DID)


</td>
<td class="align-left">
  
  
  S. Goes


</td>
<td class="align-left">
   <a href="mailto:goes@tomo.ig.erdw.ethz.ch">goes@tomo.ig.erdw.ethz.ch</a> 
</td>
</tr>
<tr class="odd">
<td class="align-left">
  
  
  Informatik Support Leiter (ISL)


</td>
<td class="align-left">
  
  
  Daniel W. Müller


</td>
<td class="align-left">
   <a href="mailto:dmueller@erdw.ethz.ch">dmueller@erdw.ethz.ch</a> 
</td>
</tr>
<tr class="even">
<td class="align-left">
  
  
  Stellvertreter


</td>
<td class="align-left">
  
  
  Thomas Johannes Löffler


</td>
<td class="align-left">
   <a href="mailto:loeffler@erdw.ethz.ch">loeffler@erdw.ethz.ch</a> 
</td>
</tr>
<tr class="odd">
<td class="align-left">
  
  
  Weitere Kontakte


</td>
<td class="align-left">
   <a href="http://www.erdw.ethz.ch/Institut.cfm?language=1&amp;ID_Inst=9997" target="blank">Link am Departement ERDW</a> 
</td>
<td class="align-left">
  &nbsp;
</td>
</tr>
</tbody>
</table>
</div>
<div class="tablemargin">
<table class="silvatable silvatable silvatable datagrid" width="100%" cellspacing="0" cellpadding="3">
<col width="33%" class="align-left" />
<col width="33%" class="align-left" />
<col width="33%" class="align-left" />
<tbody>
<tr class="odd">
<td class="align-left">
   <strong>Departement</strong> 
</td>
<td class="align-left">
   <strong>GESS</strong> 
</td>
<td class="align-left">
  &nbsp;
</td>
</tr>
<tr class="even">
<td class="align-left">
  
  
  Departementsdelegierter (DID)


</td>
<td class="align-left">
  
  
  Rolf Kappel


</td>
<td class="align-left">
   <a href="mailto:kappel@nadel.ethz.ch">kappel@nadel.ethz.ch</a> 
</td>
</tr>
<tr class="odd">
<td class="align-left">
  
  
  Informatik Support Leiter (ISL)


</td>
<td class="align-left">
  
  
  Thomas Richter


</td>
<td class="align-left">
   <a href="mailto:thomas.richter@id.ethz.ch">thomas.richter@id.ethz.ch</a> 
</td>
</tr>
<tr class="even">
<td class="align-left">
  
  
  Stellvertreter


</td>
<td class="align-left">
  
  
  Thomas Ehrsam


</td>
<td class="align-left">
   <a href="mailto:ehrsam@history.gess.ethz.ch">ehrsam@history.gess.ethz.ch</a> 
</td>
</tr>
<tr class="odd">
<td class="align-left">
  
  
  Weitere Kontakte


</td>
<td class="align-left">
  &nbsp;
</td>
<td class="align-left">
  &nbsp;
</td>
</tr>
</tbody>
</table>
</div>
<div class="tablemargin">
<table class="silvatable silvatable silvatable datagrid" width="100%" cellspacing="0" cellpadding="3">
<col width="33%" class="align-left" />
<col width="33%" class="align-left" />
<col width="33%" class="align-left" />
<tbody>
<tr class="odd">
<td class="align-left">
   <strong>Departement</strong> 
</td>
<td class="align-left">
   <strong>INFK</strong> 
</td>
<td class="align-left">
  &nbsp;
</td>
</tr>
<tr class="even">
<td class="align-left">
  
  
  Departementsdelegierter (DID)


</td>
<td class="align-left">
  
  
  Markus Gross


</td>
<td class="align-left">
   <a href="mailto:grossm@inf.ethz.ch">grossm@inf.ethz.ch</a> 
</td>
</tr>
<tr class="odd">
<td class="align-left">
  
  
  Informatik Support Leiter (ISL)


</td>
<td class="align-left">
  
  
  Luca Previtali


</td>
<td class="align-left">
   <a href="mailto:previtali@inf.ethz.ch">previtali@inf.ethz.ch</a><br /> 
</td>
</tr>
<tr class="even">
<td class="align-left">
  
  
  Stellvertreter


</td>
<td class="align-left">
  
  
  -


</td>
<td class="align-left">
  
  
  -


</td>
</tr>
<tr class="odd">
<td class="align-left">
  
  
  Weitere Kontakte


</td>
<td class="align-left">
  
  
  Für Support-Anfragen wenden Sie sich bitte an <a href="mailto:support@inf.ethz.ch">support@inf.ethz.ch</a> 
</td>
<td class="align-left">
  &nbsp;
</td>
</tr>
</tbody>
</table>
</div>
<div class="tablemargin">
<table class="silvatable silvatable silvatable datagrid" width="100%" cellspacing="0" cellpadding="3">
<col width="33%" class="align-left" />
<col width="33%" class="align-left" />
<col width="33%" class="align-left" />
<tbody>
<tr class="odd">
<td class="align-left">
   <strong>Departement</strong> 
</td>
<td class="align-left">
   <strong>ITET</strong> 
</td>
<td class="align-left">
  &nbsp;
</td>
</tr>
<tr class="even">
<td class="align-left">
  
  
  Departementsdelegierter (DID)


</td>
<td class="align-left">
  
  
  Fritz Zaucker


</td>
<td class="align-left">
   <a href="mailto:zaucker@ee.ethz.ch">zaucker@ee.ethz.ch</a> 
</td>
</tr>
<tr class="odd">
<td class="align-left">
  
  
  Informatik Support Leiter (ISL)


</td>
<td class="align-left">
  
  
  Fritz Zaucker


</td>
<td class="align-left">
   <a href="mailto:zaucker@ee.ethz.ch">zaucker@ee.ethz.ch</a> 
</td>
</tr>
<tr class="even">
<td class="align-left">
  
  
  Stellvertreter


</td>
<td class="align-left">
  
  
  Edwin Thaler


</td>
<td class="align-left">
   <a href="mailto:thaler@ee.ethz.ch">thaler@ee.ethz.ch</a> 
</td>
</tr>
<tr class="odd">
<td class="align-left">
  
  
  Weitere Kontakte


</td>
<td class="align-left">
  
  
  Für Support Anfragen wenden Sie sich bitte an: <a href="mailto:support@ee.ethz.ch">support@ee.ethz.ch</a> 
</td>
<td class="align-left">
  &nbsp;
</td>
</tr>
</tbody>
</table>
</div>
<div class="tablemargin">
<table class="silvatable silvatable silvatable datagrid" width="100%" cellspacing="0" cellpadding="3">
<col width="33%" class="align-left" />
<col width="33%" class="align-left" />
<col width="33%" class="align-left" />
<tbody>
<tr class="odd">
<td class="align-left">
   <strong>Departement</strong> 
</td>
<td class="align-left">
   <strong>MATH</strong> 
</td>
<td class="align-left">
  &nbsp;
</td>
</tr>
<tr class="even">
<td class="align-left">
  
  
  Departementsdelegierter (DID)


</td>
<td class="align-left">
  
  
  P. Buehlmann


</td>
<td class="align-left">
   <a href="mailto:peter.buehlmann@stat.math.ethz.ch">peter.buehlmann@stat.math.ethz.ch</a> 
</td>
</tr>
<tr class="odd">
<td class="align-left">
  
  
  Informatik Support Leiter (ISL)


</td>
<td class="align-left">
  
  
  Hanspeter Scherbel


</td>
<td class="align-left">
   <a href="mailto:hanspeter.scherbel@math.ethz.ch">hanspeter.scherbel@math.ethz.ch</a> 
</td>
</tr>
<tr class="even">
<td class="align-left">
  
  
  Stellvertreter


</td>
<td class="align-left">
  
  
  Irene Schloenvogt


</td>
<td class="align-left">
   <a href="mailto:irene.schloenvogt@math.ethz.ch">irene.schloenvogt@math.ethz.ch</a> 
</td>
</tr>
<tr class="odd">
<td class="align-left">
  
  
  Weitere Kontakte


</td>
<td class="align-left">
   <a href="http://www.math.ethz.ch/people/isg" target="blank">Koordinatoren innerhalb des Departements</a> 
</td>
<td class="align-left">
   <a href="mailto:isg@math.ethz.ch">isg@math.ethz.ch</a> 
</td>
</tr>
</tbody>
</table>
</div>
<div class="tablemargin">
<table class="silvatable silvatable silvatable datagrid" width="100%" cellspacing="0" cellpadding="3">
<col width="33%" class="align-left" />
<col width="33%" class="align-left" />
<col width="33%" class="align-left" />
<tbody>
<tr class="odd">
<td class="align-left">
   <strong>Departement</strong> 
</td>
<td class="align-left">
   <strong>MATL</strong> 
</td>
<td class="align-left">
  &nbsp;
</td>
</tr>
<tr class="even">
<td class="align-left">
  
  
  Departementsdelegierter (DID)


</td>
<td class="align-left">
  
  
  Prof. P. Uggowitzer


</td>
<td class="align-left">
   <a href="mailto:peter.uggowitzer@mat.ethz.ch">peter.uggowitzer@mat.ethz.ch</a> 
</td>
</tr>
<tr class="odd">
<td class="align-left">
  
  
  Informatik Support Leiter (ISL)


</td>
<td class="align-left">
  
  
  Karel Zeman


</td>
<td class="align-left">
   <a href="mailto:karel.zeman@mat.ethz.ch">karel.zeman@mat.ethz.ch</a> 
</td>
</tr>
<tr class="even">
<td class="align-left">
  
  
  Stellvertreter


</td>
<td class="align-left">
  
  
  Marc Roland Petitmermet


</td>
<td class="align-left">
   <a href="mailto:marc.petitmermet@mat.ethz.ch">marc.petitmermet@mat.ethz.ch</a> 
</td>
</tr>
<tr class="odd">
<td class="align-left">
  
  
  Weitere Kontakte


</td>
<td class="align-left">
  &nbsp;
</td>
<td class="align-left">
  &nbsp;
</td>
</tr>
</tbody>
</table>
</div>
<div class="tablemargin">
<table class="silvatable silvatable silvatable datagrid" width="100%" cellspacing="0" cellpadding="3">
<col width="33%" class="align-left" />
<col width="33%" class="align-left" />
<col width="33%" class="align-left" />
<tbody>
<tr class="odd">
<td class="align-left">
   <strong>Departement</strong> 
</td>
<td class="align-left">
   <strong>MAVT</strong> 
</td>
<td class="align-left">
  &nbsp;
</td>
</tr>
<tr class="even">
<td class="align-left">
  
  
  Departementsdelegierter (DID)


</td>
<td class="align-left">
  
  
  Prof. Reza S. Abhari


</td>
<td class="align-left">
   <a href="mailto:abhari@lsm.iet.mavt.ethz.ch">abhari@lsm.iet.mavt.ethz.ch</a> 
</td>
</tr>
<tr class="odd">
<td class="align-left">
  
  
  Informatik Support Leiter (ISL)


</td>
<td class="align-left">
  
  
  Daniel Richard


</td>
<td class="align-left">
   <a href="mailto:daniel.richard@mavt.ethz.ch">daniel.richard@mavt.ethz.ch</a> 
</td>
</tr>
<tr class="even">
<td class="align-left">
  
  
  Stellvertreter


</td>
<td class="align-left">
  
  
  Sascha Jovanovic


</td>
<td class="align-left">
   <a href="mailto:jovanovic@mavt.ethz.ch">jovanovic@mavt.ethz.ch</a> 
</td>
</tr>
<tr class="odd">
<td class="align-left">
  
  
  Weitere Kontakte


</td>
<td class="align-left">
  &nbsp;
</td>
<td class="align-left">
  &nbsp;
</td>
</tr>
</tbody>
</table>
</div>
<div class="tablemargin">
<table class="silvatable silvatable silvatable datagrid" width="100%" cellspacing="0" cellpadding="3">
<col width="33%" class="align-left" />
<col width="33%" class="align-left" />
<col width="33%" class="align-left" />
<tbody>
<tr class="odd">
<td class="align-left">
   <strong>Departement</strong> 
</td>
<td class="align-left">
   <strong>PHYS</strong> 
</td>
<td class="align-left">
  &nbsp;
</td>
</tr>
<tr class="even">
<td class="align-left">
  
  
  Departementsdelegierter (DID)


</td>
<td class="align-left">
  
  
  Johann Blatter


</td>
<td class="align-left">
   <a href="mailto:johann.blatter@itp.phys.ethz.ch">johann.blatter@itp.phys.ethz.ch</a> 
</td>
</tr>
<tr class="odd">
<td class="align-left">
  
  
  Informatik Support Leiter (ISL)


</td>
<td class="align-left">
  
  
  Elmar Heeb


</td>
<td class="align-left">
   <a href="mailto:heeb@phys.ethz.ch">heeb@phys.ethz.ch</a> 
</td>
</tr>
<tr class="even">
<td class="align-left">
  
  
  Stellvertreter


</td>
<td class="align-left">
  
  
  Beat Rubischon


</td>
<td class="align-left">
   <a href="mailto:rubischon@phys.ethz.ch">rubischon@phys.ethz.ch</a> 
</td>
</tr>
<tr class="odd">
<td class="align-left">
  
  
  Weitere Kontakte


</td>
<td class="align-left">
   <a href="http://www.phys.ethz.ch/phys/dep/gremien/informatikkommission" target="blank">Koordinatoren innerhalb des Departements</a> 
</td>
<td class="align-left">
  &nbsp;
</td>
</tr>
</tbody>
</table>
</div>
<div class="tablemargin">
<table class="silvatable silvatable silvatable datagrid" width="100%" cellspacing="0" cellpadding="3">
<col width="33%" class="align-left" />
<col width="33%" class="align-left" />
<col width="33%" class="align-left" />
<tbody>
<tr class="odd">
<td class="align-left">
   <strong>Departement</strong> 
</td>
<td class="align-left">
   <strong>UWIS</strong> 
</td>
<td class="align-left">
  &nbsp;
</td>
</tr>
<tr class="even">
<td class="align-left">
  
  
  Departementsdelegierter (DID)


</td>
<td class="align-left">
  
  
  Christoph Schär


</td>
<td class="align-left">
   <a href="mailto:schaer@geo.umnw.ethz.ch">schaer@geo.umnw.ethz.ch</a> 
</td>
</tr>
<tr class="odd">
<td class="align-left">
  
  
  Informatik Support Leiter (ISL)


</td>
<td class="align-left">
  
  
  Hans Hirter


</td>
<td class="align-left">
   <a href="mailto:hans.hirter@env.ethz.ch">hans.hirter@env.ethz.ch</a> 
</td>
</tr>
<tr class="even">
<td class="align-left">
  
  
  Stellvertreter


</td>
<td class="align-left">
  &nbsp;
</td>
<td class="align-left">
  &nbsp;
</td>
</tr>
<tr class="odd">
<td class="align-left">
  
  
  Weitere Kontakte


</td>
<td class="align-left">
   <a href="http://www.isg.env.ethz.ch/" target="blank">Koordinatoren innerhalb des Departements</a> 
</td>
<td class="align-left">
  &nbsp;
</td>
</tr>
</tbody>
</table>
</div>
<div class="tablemargin">
<table class="silvatable silvatable silvatable datagrid" width="100%" cellspacing="0" cellpadding="3">
<col width="33%" class="align-left" />
<col width="33%" class="align-left" />
<col width="33%" class="align-left" />
<tbody>
<tr class="odd">
<td class="align-left">
   <strong>ETH-Bibliothek</strong> 
</td>
<td class="align-left">
  &nbsp;
</td>
<td class="align-left">
  &nbsp;
</td>
</tr>
<tr class="even">
<td class="align-left">
  
  
  Bibliotheksdelegierter (BID)


</td>
<td class="align-left">
  
  
  Andreas Kirstein


</td>
<td class="align-left">
   <a href="mailto:kirstein@library.ethz.ch">kirstein@library.ethz.ch</a> 
</td>
</tr>
<tr class="odd">
<td class="align-left">
  
  
  Informatik Support Leiter (ISL)


</td>
<td class="align-left">
  
  
  Andreas Kirstein


</td>
<td class="align-left">
   <a href="mailto:kirstein@library.ethz.ch">kirstein@library.ethz.ch</a> 
</td>
</tr>
<tr class="even">
<td class="align-left">
  
  
  Stellvertreter


</td>
<td class="align-left">
  &nbsp;
</td>
<td class="align-left">
  &nbsp;
</td>
</tr>
<tr class="odd">
<td class="align-left">
  
  
  Weitere Kontakte


</td>
<td class="align-left">
  
  
  Wolfgang Lierz


</td>
<td class="align-left">
   <a href="mailto:wolfgang.lierz@library.ethz.ch">wolfgang.lierz@library.ethz.ch</a>
</td>
</tr>
</tbody>
</table>
</div>

           
  

  <!-- END section main content -->
</div>




      
    
    <!-- END content -->
    <!-- START footer -->
    <!-- ############################################################################ --><!-- START footer -->
    <div class="clearboth">
      &#160;
    </div>
    <!-- note for netscape 4.x users -->
    <p id="ns4note" class="note">
      <strong><font size="+1">Wichtiger Hinweis:</font><br />
        Diese Website wird in &#228;lteren Versionen von Netscape ohne
        graphische Elemente dargestellt. Die Funktionalit&#228;t der
        Website ist aber trotzdem gew&#228;hrleistet. Wenn Sie diese
        Website regelm&#228;ssig benutzen, empfehlen wir Ihnen, auf
        Ihrem Computer einen aktuellen Browser zu installieren. Weitere
        Informationen finden Sie auf<br />
        <a href="http://www.cd.ethz.ch/services/web/">folgender
        Seite</a>.<br />
        <br />
        <font size="+1">Important Note:</font><br />
        The content in this site is accessible to any browser or
        Internet device, however, some graphics will display correctly
        only in the newer versions of Netscape. To get the most out of
        our site we suggest you upgrade to a newer browser.<br />
        <a href="http://www.cd.ethz.ch/services/web/">More
        information</a></strong>
    </p>

    <!-- START footer -->
    <div class="footerblock">
        <div class="unitlogo">
          <!-- secondary logo -->
          
          <!-- primary logo -->
          
        </div>
        <div class="footerline">
          <div class="footertext">
            
              
        &copy; 2015 <a  class="path" href="http://www.ethz.ch/">ETH Z&uuml;rich</a> |
    
              <a class="path"
                 href="http://www.qcrypt2011.ethz.ch/aaa_template/imprint/index">Impressum</a> | 
              <a class="path" href="../disclaimer/index.html">Disclaimer</a> | 
            
            
            <!--
			<span tal:omit-tag=""
				  tal:define="ms python:metadata_context.service_metadata;
				              contact_name python:ms.getMetadataValue(metadata_context, 'silva-extra', 'contactname');
				              contact_mail python:ms.getMetadataValue(metadata_context, 'silva-extra', 'contactemail')"
				  tal:condition="contact_name">
			  <span tal:omit-tag=""
				    tal:define='css_class string:class="path"'
				    tal:replace="structure python:ETHhelpers.scramble_mail(contact_mail, contact_name, css_class)">contact_name</span>
 			  <span> | </span>
			</span>
			-->
			
        18.2.2005
    
          </div>
          
  
  
    <div class="footerwologo">
      <img alt="powered by" border="0"
           src="../../icons_site/footer_zs_powered.gif" /><a href="http://www.zope.org/" target="_blank"><img
    alt="zope" border="0"
    src="../../icons_site/footer_zs_zope.gif" /></a><img
    alt="and" border="0"
    src="../../icons_site/footer_zs_and.gif" /><a href="http://www.infrae.com/" target="_blank"><img
    alt="silva" border="0"
    src="../../icons_site/footer_zs_silva.gif" /></a><a
    href="http://www.hk.ethz.ch/"><img
    alt="Corporate Communications" border="0"
    src="../../icons_site/footer_eth_cc_DE.gif" /></a>
    </div>
  

    </div>
  </div><!-- END footer -->
    <!-- START page top icon -->
    <div id="pagetop">
      
         
         <span>
           <a href="table.html#top"><img border="0"
    src="../../icons_site/top_c040.gif"
    alt="top" title="top" /></a>
         </span>
      
    </div>
    <!-- END page top icon -->

    


    
  </div></body>
</html>
